<<<<<<< HEAD
<% include shared/header %>

<% if(currentUser) { %>
  <h2>新規投稿</h2>
  <% include shared/validation_panel {error} %>
  <form action="/post" method="post">
    <%- csrfTag() %>
    <p><input type="text" placeholder="Title" name="title" value="<%= post.title %>"></p>
    <p><textarea placeholder="Contents" name="body" value="<%= post.body %>"></textarea></p>
    <p><input type="submit" value="Create"></p>
  </form>
<% } else { %>
  ログインすると投稿できます
<% } %>
=======
<%- include('shared/header') %>
<h2>新規投稿</h2>

<%- include('shared/validation_panel', {error}) %>

<form action="/post" method="post">
  <p><input type="text" placeholder="Title" name="title" value="<%= post.title %>"></p>
  <p><textarea placeholder="Contents" name="body" value="<%= post.body %>"></textarea></p>
  <p><input type="submit" value="Create"></p>
</form>
>>>>>>> signup and login

<div>
  現在時刻: <%= test %>
</div>

<h2>最新の投稿</h2>
<<<<<<< HEAD
<div>
  タイトルで絞り込み検索 : 
  <form action="/">
    <input type="text" name="title" plaeholder="Title">
    <input type="submit" value="検索">
  </form>
</div>

=======
>>>>>>> signup and login
<ul class="posts">
  <% posts.forEach((post)=>{ %>
  <li class="post">
    <div><%= post.id %></div>
    <div class="title"><%= post.title %>[<%= post.titleLength() %>]</div>
    <div class="body">
      <% post.body.split(/\r?\n/g).forEach((line)=>{ %>
      <%= line %></br>
      <% }) %>
    </div>
    <div class="times">
      <div>作成日時: <%= post.createdAt %></div>
      <div>更新日時: <%= post.updatedAt %></div>
<<<<<<< HEAD
      <div>ニックネーム: <%= post.user.nickName %></div>
=======
>>>>>>> signup and login
    </div>
  </li>
  <% }) %>
</ul>
<<<<<<< HEAD
<% include shared/footer %>
=======
<%- include('shared/footer') %>
>>>>>>> signup and login
